{% extends 'shared/dashboard_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Timezone Settings</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#"><i class="icon-home"></i></a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a>Settings</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'timezone-settings' %}">Timezone</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">System Timezone</div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Select Timezone</label>
                                {{ form.timezone }}
                                {% if form.timezone.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.timezone.errors }}
                                </div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Update Timezone</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}