{% extends 'shared/website_base.html' %}
{% load static %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "images/1-bread-home.jpeg" %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-0 bread">Blog</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-round-forward"></i></a></span> <span class="mr-2"><a href="{% url 'blog' %}">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>{{ blog.name }}</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <div class="about-author d-flex p-4 bg-light mb-5">
                    <div class="bio mr-5">
                        {% if blog.created_by.profile_image %}
                            <img src="{{ blog.created_by.profile_image.url }}" alt="{{ blog.created_by.username }}" class="img-fluid mb-4" style="width: 100%; height: 100%; position: relative;">
                        {% else %}
                            <img src="{{ blog.image.url }}" alt="Default profile" class="img-fluid mb-4">
                        {% endif %}
                    </div>
                    <div class="desc">
                        <h3>{{ blog.name }}</h3>
                        <p>{{ blog.description }}</p>
                    </div>
                </div>

                <div class="blog-content">
                    {{ blog.blog_content|safe }}
                </div>

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">Blog</a>
                        <a href="#" class="tag-cloud-link">Article</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 sidebar ftco-animate">
              <div class="sidebar-box bg-light">
                <form action="#" class="search-form bg-light">
                  <div class="form-group">
                    <span class="icon ion-ios-search"></span>
                    <input type="text" class="form-control" placeholder="Search...">
                  </div>
                </form>
              </div>
              <div class="sidebar-box bg-light ftco-animate">
                <h3 class="heading-2">Categories</h3>
                <ul class="categories">
                  <li><a href="#">Machine Learning <span>(12)</span></a></li>
                  <li><a href="#">ChatBot <span>(22)</span></a></li>
                  <li><a href="#">LLM <span>(37)</span></a></li>
                  <li><a href="#">Chat-GPT <span>(42)</span></a></li>
                  <li><a href="#">AI-Business <span>(14)</span></a></li>
                </ul>
              </div>
  
              <div class="sidebar-box bg-light ftco-animate">
                <h3 class="heading-2">Recent Blog</h3>
                {% for recent_blog in recent_blogs %}
                      <div class="block-21 mb-4 d-flex">
                          <a class="blog-img mr-4" style="background-image: url('{{ recent_blog.image.url }}');"></a>
                          <div class="text">
                              <h3 class="heading-1"><a href="{% url 'blog_detail' recent_blog.id %}">{{ recent_blog.name }}</a></h3>
                              <div class="meta">
                                  <div><a href="#"><span class="icon-calendar"></span> {{ recent_blog.created_date|date:"M d, Y" }}</a></div>
                                  <div><a href="#"><span class="icon-person"></span> {{ recent_blog.created_by.username }}</a></div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
              </div>
  
              <div class="sidebar-box bg-light ftco-animate">
                <h3 class="heading-2">Tag Cloud</h3>
                <div class="tagcloud">
                  <a href="#" class="tag-cloud-link">article</a>
                  <a href="#" class="tag-cloud-link">blog</a>
                  <a href="#" class="tag-cloud-link">help</a>
                  <a href="#" class="tag-cloud-link">organization</a>
                  <a href="#" class="tag-cloud-link">informatic</a>
                  <a href="#" class="tag-cloud-link">easy</a>
                  <a href="#" class="tag-cloud-link">help</a>
                  <a href="#" class="tag-cloud-link">volunteer</a>
                </div>
              </div>
  
            </div>
        </div>
      </div>
    </section>

{% endblock %}